@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Luckiest Guy';
  src: url('/fonts/LuckiestGuy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

:root {
  --foreground-rgb: 47, 70, 101; /*  #2F4665; */
  --background-start-rgb: 234, 233, 223;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(6px);
  background-image: linear-gradient(to bottom, rgba(53, 128, 232, 0.919), rgba(255, 255, 255, 0.00)), url('/images/winter-wonderland-full-res.jpeg');
  background-size: cover;
  opacity: 0.15; /* Adjust this value to change the opacity */
  z-index: -1; /* This ensures the pseudo-element is behind the body content */
}

.pushable {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 36px;
  background: hsl(0deg 0% 0% / 0.25);
  transform: translateY(2px);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 36px;
  background: #072A28;
}
.front {
  display: block;
  position: relative;
  padding: 10px 42px;
  border-radius: 36px;
  font-size: 1.25rem;
  color: white;
  background: #0D5753;
  transform: translateY(-4px);
}

.pushable:hover .front {
  transform: translateY(-6px);
}
.pushable:hover .shadow {
  transform: translateY(4px);
}
.pushable:active .front {
  transform: translateY(-2px);
}
.pushable:active .shadow {
  transform: translateY(1px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}