@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Luckiest Guy';
  src: url('/fonts/LuckiestGuy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

:root {
  --foreground-rgb: 47, 70, 101; /*  #2F4665; */
  --background-start-rgb: 234, 233, 223;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(6px);
  background-image: linear-gradient(180deg, rgba(53, 129, 232, 0.20) 0%, rgba(255, 255, 255, 0.00) 129.1%);
  background-image: url('/images/winter-wonderland-full-res.jpeg');
  background-size: cover;
  opacity: 0.15; /* Adjust this value to change the opacity */
  z-index: -1; /* This ensures the pseudo-element is behind the body content */
}